.p-icon {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    color: white;
}

.red-bg {
    background-color: #FA2D2D;
}

.green-bg {
    background-color: #4BAE4F;
}