.form-container {
    margin: 50px 0;
    background: #F3F3F3;
    border: 1px solid #D2D2D2;
    input,
    textarea {
        border: 1px solid #BCBCBC;
    }
    .input-icon {
        position: relative;
        i {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $gray;
        }
    }
    .form-control {
        padding: 0.375rem 2rem;
    }
}