<section class="slider site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center pt-md-5 mt-md-5">
                <h2 class="second-color">منصة تاجر</h2>
                <h4> لإدارة الاعمال والأنشطة التجارية</h4>
                <h4 class="second-color mb-4">في أي وقت ومن أي مكان</h4>
                <button class="main-bg p-3 me-2 btn">سجل مجانا</button>
                <button class="second-bg p-3 btn">الدخول الى النظام</button>
            </div>
            <div class="col-md-6">

                <ul style="--n: 9">
                    <img src="../src/images/colored-logo.svg" width="340" alt="">
                    <li style="--i:0 " class="main-bg">المنتجات</li>
                    <li style="--i:1 " class="second-bg">المبيعات</li>
                    <li style="--i:2 " class="main-bg">المشتريات</li>
                    <li style="--i:3 " class="second-bg">نقاط البيع</li>
                    <li style="--i:4 " class="main-bg">الموردين</li>
                    <li style="--i:5 " class="second-bg">الفاتورة الالكترونية</li>
                    <li style="--i:6 " class="main-bg">المصروفات</li>
                    <li style="--i:7 " class="second-bg">العملاء</li>
                    <li style="--i:8 " class="main-bg">المخازن</li>
                </ul>
            </div>
        </div>
    </div>
</section>