$mainColor:#2A459E;
$secondColor:#F79826;
$lightGray:#F2F2F2;
$gray: #E2E2E2;
.main-color {
    color: $mainColor;
}

.main-bg {
    background: $mainColor !important;
    color: white;
}

.second-color {
    color: $secondColor !important;
}

.gray-bg {
    background: $gray !important;
}

.lightGray-bg {
    background: $lightGray !important;
}

.second-bg {
    background: $secondColor;
    color: white;
}

.white-color {
    color: white !important;
}

h2 {
    font-size: 44px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

.bold {
    font-weight: bold;
}

section {
    padding: 50px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.social-ico {
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
}