.navbar-dark .navbar-nav {
    .nav-item {
        height: 76px;
        .nav-link {
            color: rgb(255 255 255);
            border-bottom: 4px solid transparent;
            height: 100%;
            padding-top: 25px;
            &:hover {
                color: $secondColor;
                border-bottom: 4px solid $secondColor;
            }
        }
        .nav-link.active {
            color: $secondColor;
            border-bottom: 4px solid $secondColor;
        }
    }
}