<%-include('./ejs/layout/head') %>
    <%-include('./ejs/components/navbar') %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 page-title second-bg p-3">
                    <h1>أتصل بنا</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <%-include('./ejs/components/contact-form') %>
                </div>
            </div>
        </div>





        <%- include('./ejs/layout/footer') %>