<%-include('./ejs/layout/head') %>
    <%-include('./ejs/components/navbar') %>
        <div class="second-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page-title p-3">
                        <h3>تسجيل الدخول </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <%-include('./ejs/components/login-form') %>
                </div>
            </div>
        </div>





        <%- include('./ejs/layout/footer') %>